@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #e0dadc;
  --background: #1d2430;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #e0dadc;
    --background: #1d2430;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
