---
import Section from "../components/common/Section.astro";
import Layout from "../layouts/Layout.astro";
import SEO from "../components/SEO.astro";

const canonicalUrl = new URL("/", Astro.site).href;
---

<Layout>
  <Fragment slot="head">
    <SEO
      title="Not Found - 404"
      description="The page you are looking for does not exist."
      longDescription="The page you are looking for does not exist. Maybe it never existed. Spooky."
      cardImage="/avatar.jpeg"
      canonicalUrl={canonicalUrl}
    />
  </Fragment>
  <Section class="mt-16">
    <h1 class="font-display pb-8 text-2xl sm:text-3xl">
      Well, this is awkward
    </h1>
    <h2 class="pb-8 text-xl sm:text-2xl">404 - Page not found</h2>
    <p>
      It seems that this page does not exist. If you want to return to safety, <a
        class="font-medium underline underline-offset-4"
        href="/">click here to go home</a
      >.
    </p>
  </Section>
</Layout>
