---
import { getConfigurationCollection } from "../../lib/utils";

const { data: config } = await getConfigurationCollection();
---

<div class="flex w-full items-center justify-between">
  <h3 class="font-display text-lg leading-loose sm:text-xl">
    {config.about.title}
  </h3>
</div>
