---
import { getConfigurationCollection } from "../../lib/utils";

const { data: config } = await getConfigurationCollection();
---

<h3 class="font-display text-lg leading-loose sm:text-xl">
  {config.about.title}
</h3>
<div class="zag-text zag-transition">
  <p set:html={config.about.description} />
</div>
