---
import { getConfigurationCollection } from "../lib/utils";
import Anchor from "./common/Anchor.astro";
import ThemeToggle from "./ThemeToggle.astro";
import { Github } from "@lucide/astro";
const { data: config } = await getConfigurationCollection();
---

<header class="zag-bg zag-border-b zag-transition sticky top-0 z-10 w-full">
  <nav
    class="zag-bg zag-border-b zag-transition fixed inset-x-0 top-0 mx-auto flex h-auto max-w-2xl flex-col justify-between gap-8 py-4 text-xl sm:relative sm:flex-row sm:border-none sm:px-4 sm:pt-4"
  >
    <div
      class="mt-16 flex flex-col gap-4 px-4 font-mono font-medium sm:mt-0 sm:flex-row sm:px-0"
    >
      {
        Object.entries(config.menu).map((i) => (
          <Anchor url={i[1]}>{i[0]}</Anchor>
        ))
      }
    </div>
    <div class="flex justify-between gap-4 px-4 sm:px-0">
      {
        config.personal.githubProfile && (
          <Anchor
            url={config.personal.githubProfile}
            aria-label={`${config.personal.name} GitHub Profile`}
          >
            <Github />
          </Anchor>
        )
      }
      <ThemeToggle />
    </div>
  </nav>
</header>
