---
import { config } from "../config";
import Anchor from "./common/Anchor.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="zag-bg zag-border-b zag-transition sticky top-0 z-10 w-full">
  <nav
    class="zag-bg zag-border-b zag-transition inset-x-0 top-0 mx-auto flex h-auto max-w-2xl justify-between gap-8 px-4 py-4 text-xl sm:flex-row sm:border-none sm:px-4 sm:pt-4"
  >
    <div class="flex gap-4 font-mono font-medium">
      {
        config.nav.map((item) => (
          <Anchor url={item.href}>{item.label}</Anchor>
        ))
      }
    </div>
    <div class="justify-between gap-4 sm:flex">
      <ThemeToggle />
    </div>
  </nav>
</header>
