---
type Props = {
  class?: string;
};

const { class: customClass } = Astro.props;
---

<div class="prose dark:prose-invert blog-prose w-full" class:list={customClass ? [customClass] : []}>
  <slot />
</div>
